.stock-cards-container {
  display: flex;
  height: 100vh;
  background-color: #231e54;
  position: relative;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.header-top h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: #ddd;
}

.stock-cards-header {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  margin-left: 40px;
  border: #ddd;
}

.header-text {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
}

.header-text p {
  margin: 5px 0;
}

.table-container {
  width: 90%;
  padding: 10px;
  border-collapse: collapse;
  color: #ffffff;
  overflow-x: auto;
  font-size: small;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #46407f;
}

.input-Item-cell, .input-stockno-cell {
  width: 100%;
}

.dropdown-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 15px;
}

input {
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff;
}

.inner-table {
  width: 100%;
}

.inner-table th, .inner-table td {
  padding: 25px;
  text-align: center;
  border: 1px solid #ddd;
}



.inner-table input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding: 10px;
  margin: 0px;
  font-family: inherit;
  font-size: 40px;
  text-align: inherit;
}

.inner-table input:focus {
  border: 1px solid #ccc;
}

.right-image-section {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231e54;
}

.vertical-OCD-image {
  max-width: 100%;
  height: 100%;
}

.stock-cards-container .return-button {
  background-color: #1c1841;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.stock-cards-container .return-button:hover {
  background-color: #f28920;
}

.stock-cards-container .export-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #1c1841;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.stock-cards-container .export-button:hover {
  background-color: #f28920;
}